$columns: 24
$offset: 30px
$offset_one_side: ($offset / 2)
$atom: 4.166666666666667%

$break_lg: 2000px
$break_md: 960px
$break_sm: 780px
$break_xs: 560px

=reset()
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td
        margin: 0
        padding: 0

    table
        border-collapse: collapse
        border-spacing: 0

    fieldset,img,abbr
        border: 0

    address,caption,cite,code,dfn,em,strong,th,var
        font-style: normal
        font-weight: normal

    ul li
        list-style: none

    caption,th
        text-align: left

    h1,h2,h3,h4,h5,h6
        font-size: 100%
        font-weight: normal

    sup
        vertical-align: text-top

    sub
        vertical-align: text-bottom

    input,textarea,select
        font-family: inherit
        font-size: inherit
        font-weight: inherit

    legend
        color: #000

    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main
        display: block



=wrapper()
    max-width: 1200px
    padding-left: 30px
    padding-right: 30px
    margin: 0 auto

    @media screen and (max-width: $break_lg)
        padding-left: 30px
        padding-right: 30px


    @media screen and (max-width: $break_md)
        padding-left: 15px
        padding-right: 15px


    @media screen and (max-width: $break_sm)
        padding-left: 15px
        padding-right: 15px


    @media screen and (max-width: $break_xs)
        padding-left: 15px
        padding-right: 15px


=row-flex()
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px

=row-float()
    margin-left: -15px
    margin-right: -15px
    +clearfix()

=col()
    box-sizing: border-box
    margin-left: 15px
    margin-right: 15px
    word-wrap: break-word

=col-float()
    float: left

=col-padding()
    padding-left: 15px
    padding-right: 15px
    word-wrap: break-word

=col-1()
    width: #{calc(4.166666666666667% - #{$offset})}

=col-2()
    width: #{calc(8.333333333333334% - #{$offset})}

=col-3()
    width: #{calc(12.5% - #{$offset})}

=col-4()
    width: #{calc(16.666666666666668% - #{$offset})}

=col-5()
    width: #{calc(20.833333333333336% - #{$offset})}

=col-6()
    width: #{calc(25% - #{$offset})}

=col-7()
    width: #{calc(29.166666666666668% - #{$offset})}

=col-8()
    width: #{calc(33.333333333333336% - #{$offset})}

=col-9()
    width: #{calc(37.5% - #{$offset})}

=col-10()
    width: #{calc(41.66666666666667% - #{$offset})}

=col-11()
    width: #{calc(45.833333333333336% - #{$offset})}

=col-12()
    width: #{calc(50% - #{$offset})}

=col-13()
    width: #{calc(54.16666666666667% - #{$offset})}

=col-14()
    width: #{calc(58.333333333333336% - #{$offset})}

=col-15()
    width: #{calc(62.50000000000001% - #{$offset})}

=col-16()
    width: #{calc(66.66666666666667% - #{$offset})}

=col-17()
    width: #{calc(70.83333333333334% - #{$offset})}

=col-18()
    width: #{calc(75% - #{$offset})}

=col-19()
    width: #{calc(79.16666666666667% - #{$offset})}

=col-20()
    width: #{calc(83.33333333333334% - #{$offset})}

=col-21()
    width: #{calc(87.5% - #{$offset})}

=col-22()
    width: #{calc(91.66666666666667% - #{$offset})}

=col-23()
    width: #{calc(95.83333333333334% - #{$offset})}

=col-24()
    width: #{calc(100% - #{$offset})}

=offset($n)
    $value: $atom * $n
    margin-left: #{calc(#{$value} + #{$offset_one_side})}
    margin-right: #{calc(#{$value} + #{$offset_one_side})}

=offset-left($n)
    $value: $atom * $n
    margin-left: #{calc(#{$value} + #{$offset_one_side})}

=offset-right($n)
    $value: $atom * $n
    margin-right: #{calc(#{$value} + #{$offset_one_side})}

=offset-padding($n)
    $value: $atom * $n
    padding-left: #{calc(#{$value} + #{$offset_one_side})}
    padding-right: #{calc(#{$value} + #{$offset_one_side})}

=offset-left-padding($n)
    $value: $atom * $n
    padding-left: #{calc(#{$value} + #{$offset_one_side})}

=offset-right-padding($n)
    $value: $atom * $n
    padding-right: #{calc(#{$value} + #{$offset_one_side})}

=justify-content($value)
    justify-content: $value

=align-items($value)
    align-items: $value

=align-content($value)
    align-content: $value

=align-self($value)
    align-self: $value

=order($value)
    order: $value

=flex($value)
    flex: $value

=flex-grow($value)
    flex-grow: $value

=flex-shrink($value)
    flex-shrink: $value

=flex-basis($value)
    flex-basis: $value

=flex-direction($value)
    flex-direction: $value

=flex-wrap($value)
    flex-wrap: $value

=flex-flow($value)
    flex-flow: $value

=float($value)
    float: $value

=col-lg-1()
    @media screen and (max-width: $break_lg)
        width: #{calc(4.166666666666667% - #{$offset})}


=col-lg-2()
    @media screen and (max-width: $break_lg)
        width: #{calc(8.333333333333334% - #{$offset})}


=col-lg-3()
    @media screen and (max-width: $break_lg)
        width: #{calc(12.5% - #{$offset})}


=col-lg-4()
    @media screen and (max-width: $break_lg)
        width: #{calc(16.666666666666668% - #{$offset})}


=col-lg-5()
    @media screen and (max-width: $break_lg)
        width: #{calc(20.833333333333336% - #{$offset})}


=col-lg-6()
    @media screen and (max-width: $break_lg)
        width: #{calc(25% - #{$offset})}


=col-lg-7()
    @media screen and (max-width: $break_lg)
        width: #{calc(29.166666666666668% - #{$offset})}


=col-lg-8()
    @media screen and (max-width: $break_lg)
        width: #{calc(33.333333333333336% - #{$offset})}


=col-lg-9()
    @media screen and (max-width: $break_lg)
        width: #{calc(37.5% - #{$offset})}


=col-lg-10()
    @media screen and (max-width: $break_lg)
        width: #{calc(41.66666666666667% - #{$offset})}


=col-lg-11()
    @media screen and (max-width: $break_lg)
        width: #{calc(45.833333333333336% - #{$offset})}


=col-lg-12()
    @media screen and (max-width: $break_lg)
        width: #{calc(50% - #{$offset})}


=col-lg-13()
    @media screen and (max-width: $break_lg)
        width: #{calc(54.16666666666667% - #{$offset})}


=col-lg-14()
    @media screen and (max-width: $break_lg)
        width: #{calc(58.333333333333336% - #{$offset})}


=col-lg-15()
    @media screen and (max-width: $break_lg)
        width: #{calc(62.50000000000001% - #{$offset})}


=col-lg-16()
    @media screen and (max-width: $break_lg)
        width: #{calc(66.66666666666667% - #{$offset})}


=col-lg-17()
    @media screen and (max-width: $break_lg)
        width: #{calc(70.83333333333334% - #{$offset})}


=col-lg-18()
    @media screen and (max-width: $break_lg)
        width: #{calc(75% - #{$offset})}


=col-lg-19()
    @media screen and (max-width: $break_lg)
        width: #{calc(79.16666666666667% - #{$offset})}


=col-lg-20()
    @media screen and (max-width: $break_lg)
        width: #{calc(83.33333333333334% - #{$offset})}


=col-lg-21()
    @media screen and (max-width: $break_lg)
        width: #{calc(87.5% - #{$offset})}


=col-lg-22()
    @media screen and (max-width: $break_lg)
        width: #{calc(91.66666666666667% - #{$offset})}


=col-lg-23()
    @media screen and (max-width: $break_lg)
        width: #{calc(95.83333333333334% - #{$offset})}


=col-lg-24()
    @media screen and (max-width: $break_lg)
        width: #{calc(100% - #{$offset})}


=offset-lg($n)
    @media screen and (max-width: $break_lg)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-lg($n)
    @media screen and (max-width: $break_lg)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-lg($n)
    @media screen and (max-width: $break_lg)
        $value: $atom * $n
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-padding-lg($n)
    @media screen and (max-width: $break_lg)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-padding-lg($n)
    @media screen and (max-width: $break_lg)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-padding-lg($n)
    @media screen and (max-width: $break_lg)
        $value: $atom * $n
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=justify-content-lg($value)
    @media screen and (max-width: $break_lg)
        justify-content: $value


=align-items-lg($value)
    @media screen and (max-width: $break_lg)
        align-items: $value


=align-content-lg($value)
    @media screen and (max-width: $break_lg)
        align-content: $value


=align-self-lg($value)
    @media screen and (max-width: $break_lg)
        align-self: $value


=order-lg($value)
    @media screen and (max-width: $break_lg)
        order: $value


=flex-lg($value)
    @media screen and (max-width: $break_lg)
        flex: $value


=flex-grow-lg($value)
    @media screen and (max-width: $break_lg)
        flex-grow: $value


=flex-shrink-lg($value)
    @media screen and (max-width: $break_lg)
        flex-shrink: $value


=flex-basis-lg($value)
    @media screen and (max-width: $break_lg)
        flex-basis: $value


=flex-direction-lg($value)
    @media screen and (max-width: $break_lg)
        flex-direction: $value


=flex-wrap-lg($value)
    @media screen and (max-width: $break_lg)
        flex-wrap: $value


=flex-flow-lg($value)
    @media screen and (max-width: $break_lg)
        flex-flow: $value


=float-lg($value)
    @media screen and (max-width: $break_lg)
        float: $value


=lg($name, $value)
    @media screen and (max-width: $break_lg)
        #{$name}: $value


=col-md-1()
    @media screen and (max-width: $break_md)
        width: #{calc(4.166666666666667% - #{$offset})}


=col-md-2()
    @media screen and (max-width: $break_md)
        width: #{calc(8.333333333333334% - #{$offset})}


=col-md-3()
    @media screen and (max-width: $break_md)
        width: #{calc(12.5% - #{$offset})}


=col-md-4()
    @media screen and (max-width: $break_md)
        width: #{calc(16.666666666666668% - #{$offset})}


=col-md-5()
    @media screen and (max-width: $break_md)
        width: #{calc(20.833333333333336% - #{$offset})}


=col-md-6()
    @media screen and (max-width: $break_md)
        width: #{calc(25% - #{$offset})}


=col-md-7()
    @media screen and (max-width: $break_md)
        width: #{calc(29.166666666666668% - #{$offset})}


=col-md-8()
    @media screen and (max-width: $break_md)
        width: #{calc(33.333333333333336% - #{$offset})}


=col-md-9()
    @media screen and (max-width: $break_md)
        width: #{calc(37.5% - #{$offset})}


=col-md-10()
    @media screen and (max-width: $break_md)
        width: #{calc(41.66666666666667% - #{$offset})}


=col-md-11()
    @media screen and (max-width: $break_md)
        width: #{calc(45.833333333333336% - #{$offset})}


=col-md-12()
    @media screen and (max-width: $break_md)
        width: #{calc(50% - #{$offset})}


=col-md-13()
    @media screen and (max-width: $break_md)
        width: #{calc(54.16666666666667% - #{$offset})}


=col-md-14()
    @media screen and (max-width: $break_md)
        width: #{calc(58.333333333333336% - #{$offset})}


=col-md-15()
    @media screen and (max-width: $break_md)
        width: #{calc(62.50000000000001% - #{$offset})}


=col-md-16()
    @media screen and (max-width: $break_md)
        width: #{calc(66.66666666666667% - #{$offset})}


=col-md-17()
    @media screen and (max-width: $break_md)
        width: #{calc(70.83333333333334% - #{$offset})}


=col-md-18()
    @media screen and (max-width: $break_md)
        width: #{calc(75% - #{$offset})}


=col-md-19()
    @media screen and (max-width: $break_md)
        width: #{calc(79.16666666666667% - #{$offset})}


=col-md-20()
    @media screen and (max-width: $break_md)
        width: #{calc(83.33333333333334% - #{$offset})}


=col-md-21()
    @media screen and (max-width: $break_md)
        width: #{calc(87.5% - #{$offset})}


=col-md-22()
    @media screen and (max-width: $break_md)
        width: #{calc(91.66666666666667% - #{$offset})}


=col-md-23()
    @media screen and (max-width: $break_md)
        width: #{calc(95.83333333333334% - #{$offset})}


=col-md-24()
    @media screen and (max-width: $break_md)
        width: #{calc(100% - #{$offset})}


=offset-md($n)
    @media screen and (max-width: $break_md)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-md($n)
    @media screen and (max-width: $break_md)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-md($n)
    @media screen and (max-width: $break_md)
        $value: $atom * $n
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-padding-md($n)
    @media screen and (max-width: $break_md)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-padding-md($n)
    @media screen and (max-width: $break_md)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-padding-md($n)
    @media screen and (max-width: $break_md)
        $value: $atom * $n
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=justify-content-md($value)
    @media screen and (max-width: $break_md)
        justify-content: $value


=align-items-md($value)
    @media screen and (max-width: $break_md)
        align-items: $value


=align-content-md($value)
    @media screen and (max-width: $break_md)
        align-content: $value


=align-self-md($value)
    @media screen and (max-width: $break_md)
        align-self: $value


=order-md($value)
    @media screen and (max-width: $break_md)
        order: $value


=flex-md($value)
    @media screen and (max-width: $break_md)
        flex: $value


=flex-grow-md($value)
    @media screen and (max-width: $break_md)
        flex-grow: $value


=flex-shrink-md($value)
    @media screen and (max-width: $break_md)
        flex-shrink: $value


=flex-basis-md($value)
    @media screen and (max-width: $break_md)
        flex-basis: $value


=flex-direction-md($value)
    @media screen and (max-width: $break_md)
        flex-direction: $value


=flex-wrap-md($value)
    @media screen and (max-width: $break_md)
        flex-wrap: $value


=flex-flow-md($value)
    @media screen and (max-width: $break_md)
        flex-flow: $value


=float-md($value)
    @media screen and (max-width: $break_md)
        float: $value


=md($name, $value)
    @media screen and (max-width: $break_md)
        #{$name}: $value


=col-sm-1()
    @media screen and (max-width: $break_sm)
        width: #{calc(4.166666666666667% - #{$offset})}


=col-sm-2()
    @media screen and (max-width: $break_sm)
        width: #{calc(8.333333333333334% - #{$offset})}


=col-sm-3()
    @media screen and (max-width: $break_sm)
        width: #{calc(12.5% - #{$offset})}


=col-sm-4()
    @media screen and (max-width: $break_sm)
        width: #{calc(16.666666666666668% - #{$offset})}


=col-sm-5()
    @media screen and (max-width: $break_sm)
        width: #{calc(20.833333333333336% - #{$offset})}


=col-sm-6()
    @media screen and (max-width: $break_sm)
        width: #{calc(25% - #{$offset})}


=col-sm-7()
    @media screen and (max-width: $break_sm)
        width: #{calc(29.166666666666668% - #{$offset})}


=col-sm-8()
    @media screen and (max-width: $break_sm)
        width: #{calc(33.333333333333336% - #{$offset})}


=col-sm-9()
    @media screen and (max-width: $break_sm)
        width: #{calc(37.5% - #{$offset})}


=col-sm-10()
    @media screen and (max-width: $break_sm)
        width: #{calc(41.66666666666667% - #{$offset})}


=col-sm-11()
    @media screen and (max-width: $break_sm)
        width: #{calc(45.833333333333336% - #{$offset})}


=col-sm-12()
    @media screen and (max-width: $break_sm)
        width: #{calc(50% - #{$offset})}


=col-sm-13()
    @media screen and (max-width: $break_sm)
        width: #{calc(54.16666666666667% - #{$offset})}


=col-sm-14()
    @media screen and (max-width: $break_sm)
        width: #{calc(58.333333333333336% - #{$offset})}


=col-sm-15()
    @media screen and (max-width: $break_sm)
        width: #{calc(62.50000000000001% - #{$offset})}


=col-sm-16()
    @media screen and (max-width: $break_sm)
        width: #{calc(66.66666666666667% - #{$offset})}


=col-sm-17()
    @media screen and (max-width: $break_sm)
        width: #{calc(70.83333333333334% - #{$offset})}


=col-sm-18()
    @media screen and (max-width: $break_sm)
        width: #{calc(75% - #{$offset})}


=col-sm-19()
    @media screen and (max-width: $break_sm)
        width: #{calc(79.16666666666667% - #{$offset})}


=col-sm-20()
    @media screen and (max-width: $break_sm)
        width: #{calc(83.33333333333334% - #{$offset})}


=col-sm-21()
    @media screen and (max-width: $break_sm)
        width: #{calc(87.5% - #{$offset})}


=col-sm-22()
    @media screen and (max-width: $break_sm)
        width: #{calc(91.66666666666667% - #{$offset})}


=col-sm-23()
    @media screen and (max-width: $break_sm)
        width: #{calc(95.83333333333334% - #{$offset})}


=col-sm-24()
    @media screen and (max-width: $break_sm)
        width: #{calc(100% - #{$offset})}


=offset-sm($n)
    @media screen and (max-width: $break_sm)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-sm($n)
    @media screen and (max-width: $break_sm)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-sm($n)
    @media screen and (max-width: $break_sm)
        $value: $atom * $n
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-padding-sm($n)
    @media screen and (max-width: $break_sm)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-padding-sm($n)
    @media screen and (max-width: $break_sm)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-padding-sm($n)
    @media screen and (max-width: $break_sm)
        $value: $atom * $n
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=justify-content-sm($value)
    @media screen and (max-width: $break_sm)
        justify-content: $value


=align-items-sm($value)
    @media screen and (max-width: $break_sm)
        align-items: $value


=align-content-sm($value)
    @media screen and (max-width: $break_sm)
        align-content: $value


=align-self-sm($value)
    @media screen and (max-width: $break_sm)
        align-self: $value


=order-sm($value)
    @media screen and (max-width: $break_sm)
        order: $value


=flex-sm($value)
    @media screen and (max-width: $break_sm)
        flex: $value


=flex-grow-sm($value)
    @media screen and (max-width: $break_sm)
        flex-grow: $value


=flex-shrink-sm($value)
    @media screen and (max-width: $break_sm)
        flex-shrink: $value


=flex-basis-sm($value)
    @media screen and (max-width: $break_sm)
        flex-basis: $value


=flex-direction-sm($value)
    @media screen and (max-width: $break_sm)
        flex-direction: $value


=flex-wrap-sm($value)
    @media screen and (max-width: $break_sm)
        flex-wrap: $value


=flex-flow-sm($value)
    @media screen and (max-width: $break_sm)
        flex-flow: $value


=float-sm($value)
    @media screen and (max-width: $break_sm)
        float: $value


=sm($name, $value)
    @media screen and (max-width: $break_sm)
        #{$name}: $value


=col-xs-1()
    @media screen and (max-width: $break_xs)
        width: #{calc(4.166666666666667% - #{$offset})}


=col-xs-2()
    @media screen and (max-width: $break_xs)
        width: #{calc(8.333333333333334% - #{$offset})}


=col-xs-3()
    @media screen and (max-width: $break_xs)
        width: #{calc(12.5% - #{$offset})}


=col-xs-4()
    @media screen and (max-width: $break_xs)
        width: #{calc(16.666666666666668% - #{$offset})}


=col-xs-5()
    @media screen and (max-width: $break_xs)
        width: #{calc(20.833333333333336% - #{$offset})}


=col-xs-6()
    @media screen and (max-width: $break_xs)
        width: #{calc(25% - #{$offset})}


=col-xs-7()
    @media screen and (max-width: $break_xs)
        width: #{calc(29.166666666666668% - #{$offset})}


=col-xs-8()
    @media screen and (max-width: $break_xs)
        width: #{calc(33.333333333333336% - #{$offset})}


=col-xs-9()
    @media screen and (max-width: $break_xs)
        width: #{calc(37.5% - #{$offset})}


=col-xs-10()
    @media screen and (max-width: $break_xs)
        width: #{calc(41.66666666666667% - #{$offset})}


=col-xs-11()
    @media screen and (max-width: $break_xs)
        width: #{calc(45.833333333333336% - #{$offset})}


=col-xs-12()
    @media screen and (max-width: $break_xs)
        width: #{calc(50% - #{$offset})}


=col-xs-13()
    @media screen and (max-width: $break_xs)
        width: #{calc(54.16666666666667% - #{$offset})}


=col-xs-14()
    @media screen and (max-width: $break_xs)
        width: #{calc(58.333333333333336% - #{$offset})}


=col-xs-15()
    @media screen and (max-width: $break_xs)
        width: #{calc(62.50000000000001% - #{$offset})}


=col-xs-16()
    @media screen and (max-width: $break_xs)
        width: #{calc(66.66666666666667% - #{$offset})}


=col-xs-17()
    @media screen and (max-width: $break_xs)
        width: #{calc(70.83333333333334% - #{$offset})}


=col-xs-18()
    @media screen and (max-width: $break_xs)
        width: #{calc(75% - #{$offset})}


=col-xs-19()
    @media screen and (max-width: $break_xs)
        width: #{calc(79.16666666666667% - #{$offset})}


=col-xs-20()
    @media screen and (max-width: $break_xs)
        width: #{calc(83.33333333333334% - #{$offset})}


=col-xs-21()
    @media screen and (max-width: $break_xs)
        width: #{calc(87.5% - #{$offset})}


=col-xs-22()
    @media screen and (max-width: $break_xs)
        width: #{calc(91.66666666666667% - #{$offset})}


=col-xs-23()
    @media screen and (max-width: $break_xs)
        width: #{calc(95.83333333333334% - #{$offset})}


=col-xs-24()
    @media screen and (max-width: $break_xs)
        width: #{calc(100% - #{$offset})}


=offset-xs($n)
    @media screen and (max-width: $break_xs)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-xs($n)
    @media screen and (max-width: $break_xs)
        $value: $atom * $n
        margin-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-xs($n)
    @media screen and (max-width: $break_xs)
        $value: $atom * $n
        margin-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-padding-xs($n)
    @media screen and (max-width: $break_xs)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=offset-left-padding-xs($n)
    @media screen and (max-width: $break_xs)
        $value: $atom * $n
        padding-left: #{calc(#{$value} + #{$offset_one_side})}


=offset-right-padding-xs($n)
    @media screen and (max-width: $break_xs)
        $value: $atom * $n
        padding-right: #{calc(#{$value} + #{$offset_one_side})}


=justify-content-xs($value)
    @media screen and (max-width: $break_xs)
        justify-content: $value


=align-items-xs($value)
    @media screen and (max-width: $break_xs)
        align-items: $value


=align-content-xs($value)
    @media screen and (max-width: $break_xs)
        align-content: $value


=align-self-xs($value)
    @media screen and (max-width: $break_xs)
        align-self: $value


=order-xs($value)
    @media screen and (max-width: $break_xs)
        order: $value


=flex-xs($value)
    @media screen and (max-width: $break_xs)
        flex: $value


=flex-grow-xs($value)
    @media screen and (max-width: $break_xs)
        flex-grow: $value


=flex-shrink-xs($value)
    @media screen and (max-width: $break_xs)
        flex-shrink: $value


=flex-basis-xs($value)
    @media screen and (max-width: $break_xs)
        flex-basis: $value


=flex-direction-xs($value)
    @media screen and (max-width: $break_xs)
        flex-direction: $value


=flex-wrap-xs($value)
    @media screen and (max-width: $break_xs)
        flex-wrap: $value


=flex-flow-xs($value)
    @media screen and (max-width: $break_xs)
        flex-flow: $value


=float-xs($value)
    @media screen and (max-width: $break_xs)
        float: $value


=xs($name, $value)
    @media screen and (max-width: $break_xs)
        #{$name}: $value


=debug($background, $outline)
    height: 100vh
    position: fixed
    width: 100%

    > div
        height: inherit
        +wrapper()

        > div
            height: inherit
            +row-flex()

            > div
                +col()
                +col-1()
                height: inherit
                outline: $outline
                background: $background




=clearfix()
    &::after
        display: block
        content: ""
        clear: both


