<template src="./Table.html"></template>
<style lang='sass' src="./Table.sass"></style>
<script>
export default {
  name: 'table',
  data () {
    const data = {
      items: []
    }
    return data
  },
  mounted: function () {
    this.loadData()
  },
  methods: {
    loadData: function () {
      this.$http.get('http://51.15.61.80:3000/v1/vacancies')
      .then(
        function (response) {
          this.items = response.data
        },
        function (error) {
          console.log(error.statusText)
        }
      )
    }
  }
}
</script>

