<table class="vacancies">
  <thead class="vacancies__head">
    <tr>
      <th>site</th>
      <th>title</th>
      <th>salary_type</th>
      <th>payment_options</th>
      <th>salary</th>
      <th>payment_type</th>
      <th>skills</th>
    </tr>
  </thead>
  <tbody class="vacancies__body">
    <tr class="vacancies__body__item" v-for="(row, index) in items" :key="index">
      <th class="vacancies__body__item__site">{{row.site.name}}</th>
      <th class="vacancies__body__item__title">{{row.title}}</th>
      <th class="vacancies__body__item__salary_type">{{row.salary_type}}</th>
      <th class="vacancies__body__item__payment_options">{{row.payment_options}}</th>
      <th class="vacancies__body__item__salary">{{row.salary}}</th>
      <th class="vacancies__body__item__payment_type">{{row.payment_type}}</th>
      <th class="vacancies__body__item__skills">{{row.skills}}</th>
    </tr>
  </tbody>
</table>
