<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang='sass'>
@import '../mixins/smart-grid.sass'
// #app
  // @include wrapper
  // @include row-flex()
  // @include justify-content-lg(center)
  // @include justify-content-md(center)
  // font-family: 'Avenir', Helvetica, Arial, sans-serif
  // -webkit-font-smoothing: antialiased
  // -moz-osx-font-smoothing: grayscale
  // text-align: center
  // color: #2c3e50
  // margin-top: 60px
*, *::before, *::after
    box-sizing: border-box



</style>
